

.tile-img { 
	position: relative;
	width: 100%;
	opacity: .5;
	display: block;
  	max-width: 100%;
  	height: auto;
  	border-radius:10%;
}

.row { 
	padding: 8px;
	margin-right: 0;
	margin-left: 0;
}

.col-md-4 { 
	padding-left: 8px;
	padding-right: 8px;
}

.tile-me { 
	position: relative;
	width: 100%;
	display: block;
  	max-width: 100%;
  	height: auto;
  	border-radius:10%;
}