

.tile-img { 
	position: relative;
	width: 100%;
	opacity: .5;
	display: block;
  	max-width: 100%;
  	height: auto;
  	border-radius:10%;
  	cursor: pointer;
}

.row { 
	padding: 8px;
	margin-right: 0;
	margin-left: 0;
}

.col-md-4 { 
	padding-left: 8px;
	padding-right: 8px;
}

.col-sm-12 {
	left: 35%;
	right: 35%;
	width: 30%;
	height: 30%;
}


.tile-me { 
	width: 100%;
	display: block;
  	max-width: 100%;
  	height: auto;
  	border-radius:10%;
}

.contain { 
	padding-right: 3.5%;
	padding-left: 3.5%;
	width: 100%;
	height: 100%;
}

div { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#pic-div { 
	position: absolute;
	left: 8px;
	top: 0;
	right: 55%;
	height: 100%; 
}

#info-div { 
	position: absolute;
	left: 45%; 
	right: 8px;
	top: 15%;
	bottom: 15%;
}

#name { 
	text-align: center;
	margin-top: 25%;
	color: #333;
	font-size: 160%;
	font-weight: bolder;
}

.pic-me { 
	position: absolute;
	margin-left: 20%;
	margin-top: 25%;
	width: 90%;
	height: auto;
}

#line-br {
	position: absolute;
    color: black;
    background: black; 
    margin-left: 21%;
    margin-right: 20%;
    width: 60%; 
    height: 1%;
}


#hidden { 
	position: relative;
	width: 100%;
  	max-width: 100%;
  	height: auto;
  	border-color: #FFFFFF;
  	border-width: 3px;
  	border-radius:10%;
}

.left-block { 
	position: absolute;
	left: 5%;
	right: 50%;
	top: 20%;
	font-weight: bold;
	color: #FFFFFF;
}	

.right-block { 
	position: absolute;
	left: 50%;
	right: 20%:;
	top: 20%;
	color: #FFFFFF;
}

.label { 
	z-index: 10;
}

.button { 
	position: absolute;
	bottom: 15%;
	top: 105%;
}

#favs { 
	display: none;
}

#about { 
	display: none;
}

#contact { 
	display: none;
}


#bio-block { 
	position: absolute;
	top: 5%;
	bottom: 5%;
	margin-right: 4%;
	margin-left: 4%;
	width: 90%;
	color: #FFFFFF;
	font-size: .85em;
	overflow: auto;
}

#contact-info { 
	position: absolute;
	top: 20%;
	left: 20%;
	right: 20%;
	width: 60%;
	height: auto;
	text-align: center;
	color:#FFFFFF;
	
}