

.tileimg { 
	position: relative;
	width: 100%;
	opacity: .5;
	display: block;
  	max-width: 100%;
  	height: auto;
  	border-radius:10%;
}

.row { 
	padding: 15px;
}

.col-md-4 { 
	padding-left: 8px;
	padding-right: 8px;
}


