

.tile-img { 
	position: relative;
	width: 100%;
	opacity: .5;
	display: block;
  	max-width: 100%;
  	height: auto;
  	border-radius:10%;
}

.row { 
	padding: 8px;
	margin-right: 0;
	margin-left: 0;
}

.col-md-4 { 
	padding-left: 8px;
	padding-right: 8px;
}

.col-sm-12 {
	left: 35%;
	right: 35%;
	width: 30%;
	height: 30%;
}


.tile-me { 
	width: 100%;
	display: block;
  	max-width: 100%;
  	height: auto;
  	border-radius:10%;
}

.contain { 
	padding-right: 3.5%;
	padding-left: 3.5%;
	width: 100%;
	height: 100%;
}

.div { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#pic-div { 
	position: absolute;
	left: 8px;
	top: 0;
	right: 55%;
	height: 100%; 
}

#info-div { 
	position: absolute;
	left: 45%; 
	right: 8px;
	top: 15%;
	bottom: 15%;
}

h1 { 
	text-align: center;
	margin-top: 25%;
	color: #333;
	font-size: 160%;
	font-weight: bold;
}

.pic-me { 
	position: absolute;
	margin-left: 20%;
	margin-top: 25%;
	width: 90%;
	height: auto;
}

#line-br {
	position: absolute;
    color: #696969;
    background: #696969; 
    margin-left: 20%;
    margin-right: 20%;
    width: 60%; 
    height: 5%;
}

